:root {
  --color-grey-primary: #f0f0f0;
  --color-yellow-primary: goldenrod;
  --color-orange-primary: darkorange;
  --color-green-primary: mediumseagreen;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
}

.productList {
  display: flex;
  margin-left: -10px;
 
  margin-right: 5rem;
}

.productCard {
  position: relative;
  background-color: var(--color-grey-primary);
  margin: 1rem;
  flex: 1 0 25rem;
  max-width: 198.6px;
  transition: 0.2s;
  padding: 10px;
}

.productCard:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}
.list_document {
  margin-top: 10rem;
}

.productName {
  font-size: 1.5rem;
}
.productTitle {
  font-size: 1rem;
}
.displayStack__1 {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: bold;
}

.productPdf {
  width: 178.6px;
  margin-right: -30px !important;
}