.nav__container {
  display: flex;
  margin: 0 10px;
  font-size: larger;
  padding: 10px 0;
  position: fixed;
  background-color: #f0f8ff;
  width: 100%;
  margin: 0;
}
.nav__title{
  width: 20%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.nav__list--item{
  display: flex;
  margin-right: 10px;
}

.nav__item{
  margin: 0 5px;
} 

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .nav__container {
    flex-direction: column;
  }
  .nav__list--item{
    flex-direction: column;
    align-items: center;
  }
  .nav__list {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  .nav__list.active {
    display: flex;  
  }
  .nav__title {
    display: flex;
   justify-content: space-around;
   width: 100%;
  }
  .hamburger {
    display: block; 
    cursor: pointer;
    font-size: 24px;
  }
  form {
    display: flex;
  }
}